.chat-side
  .chat-side__header
    .chat-side__header__user-name
      = current_user.name 
      .chat-side__header__user-name__top-items-name
        masa
      .chat-side__header__user-name__top-items-icons
        .chat-side__header__user-name__top-items-icons-new
          = link_to "#", class: "contents__btn-new" do
            = icon('far', 'edit')
        .chat-side__header__user-name__top-items-icons-edit
          = link_to edit_user_path(current_user), class: "contents__btn-edit" do
            = icon('fas', 'cog')
  .chat-side__group-list
    .chat-side__group-list__name
      techcamp
    .chat-side__group-list__comments
      まだメッセージがありません
      

      


 